/***** CSS RESET BEGIN *****/

/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/***** CSS RESET END *****/

/***** MAIN STYLES BEGIN *****/

html, body {
	height: 100%;
}

body {
	font-family: arial, helvetica, sans-serif;
	color: #333;	
	background: #fff;
	font-size: 12px;
}

.clear {
	clear: both;
	font-size: 0;
	line-height: 0;
}

#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	position: relative;
}

.container {
	margin: 0 auto;
	width: 760px;
}

#header {
	float: left;
	display: inline;
	width: 100%;
	background: url(/images/bg.png) repeat-x;
}

#header #logo {
	float: left;
	display: inline;
	width: 226px;
	margin: 20px 0 0 0;
}

#header #headline {
	float: left;
	display: inline;
	width: 760px;
	background: url(/images/headline-bg.png) no-repeat;
	height: 90px;
	margin: 20px 0 0 0;
}

#header h1 {
	float: left;
	display: inline;
	width: 500px;
	background: url(/images/advertiser-upload.png) no-repeat;
	height: 38px;
	margin: 30px 0 0 20px;
}

#header h1#add-user {
	float: left;
	display: inline;
	width: 500px;
	background: url(/images/add-user.png) no-repeat;
	height: 38px;
	margin: 30px 0 0 20px;
}

#header h1#campaigns {
	float: left;
	display: inline;
	width: 500px;
	background: url(/images/campaigns.png) no-repeat;
	height: 38px;
	margin: 30px 0 0 20px;
}

#header h1#login {
	float: left;
	display: inline;
	width: 110px;
	background: url(/images/login.png) no-repeat;
	height: 38px;
	margin: 30px 0 0 20px;
}

#header h1 span {
	display: none;
}

#header fieldset label {
	display: block;
	padding: 0 0 3px 0;
	font-family: verdana, geneva, sans-serif;
	font-size: 11px;
	font-weight: bold;
}

#header fieldset input {
	border: 2px solid #888;
	padding: 5px;
	width: 200px;
	font-family: verdana, geneva, sans-serif;
}	

#header fieldset div {
	float: left;
	display: inline;
	width: 240px;
	margin: 18px 0 0 0;
}

#header button {
	float: left;
	display: inline;
	background: url(/images/login-button.png) no-repeat;
	width: 123px;
	height: 30px;
	border: 0;
	margin: 32px 0 0 0;
}

#header button:hover {
	background-position: 0 -30px;
	cursor: pointer;
}

#main {
	float: left;
	display: inline;
	width: 100%;
	margin: 10px 0 0 0;
	padding: 0 0 40px 0;
}	

#main p {
	font-family: tahoma, geneva, sans-serif;
	font-size: 11px;
	color: #999;
}

#main p.error {
	color: #990000;
	padding: 6px 0;
}

#main p.note {
	color: #069;
	font-weight: bold;
	padding: 0 0 6px 0;
}

#main #greet {
	font-size: 16px;
	font-family: georgia, serif;
	font-style: italic;
	padding: 20px 0 25px 0;
}

#main ul {
	float: left;
	display: inline;
	width: 760px;
}

#main li {
	float: left;
	display: inline;
	width: 740px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background: url(/images/field-bg.jpg) repeat-y;
	margin: 10px 0 0 0;
	padding: 10px;
}

#main li.red {
	background: url(/images/field-bg-red.jpg) repeat-y;
}

#main .label {
	float: left;
	display: inline;
	width: 165px;
	
}

#main .label h2 {
	font-size: 14px;
	padding: 6px 0;
}

#main .input {
	float: left;
	display: inline;
	width: 564px;
	margin: 0 0 0 10px;
	font-family: verdana, geneva, sans-serif;
	font-size: 12px;
}

#main .input input {
	padding: 4px;
	font-family: verdana, helvetica, sans-serif;
	color: #555;
	font-size: 12px;
}

#main .input textarea {
	padding: 4px;
	font-family: verdana, helvetica, sans-serif;
	color: #555;
	font-size: 12px;
}

#main .input .addon {
	padding: 10px 0 0 0;
}

#main .input span {
	font-family: tahoma, geneva, sans-serif;
	font-size: 11px;
	color: #069;
	font-weight: bold;
}

#main button {
	background: url(/images/button.png) no-repeat;
	width: 123px;
	height: 30px;
	border: 0;
	margin: 20px 0 0 318px;
}

#main button:hover {
	background-position: 0 -30px;
	cursor: pointer;
}

#main table {
	width: 760px;
	font-family: verdana, geneva, sans-serif;
	margin: 0 0 25px 0;
}

#main td {
	border: 1px solid #ccc;
	padding: 10px;
	text-align: center;
}

#main table a {
	color: #069;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	border-bottom: 1px dotted #069;
}

#main table a:hover {
	border: 0;
	color: #39c;
}

#main thead td {
	background: #c2daf3;
	border: 1px solid #c2daf3;
	font-size: 14px;
	font-weight: bold;
	color: #069;
	text-align: left;
}

#main thead td img {
	vertical-align: middle;
}

#main .top-row td {
	font-weight: bold;
	background: #ffffd9;
}

#main .first-col {
	width: 450px;
	text-align: left;
}
