html, body {
	height: 100%;
}

body {
	font-family: tahoma, geneva, sans-serif;
	color: #333333;
	background: #fff;
}

.clear {
	clear: both;
	font-size: 0;
	line-height: 0;
	padding: 0;
}

.wrapper {
	min-height: 100%;
}

.container {
	margin: 10px auto;
	width: 900px;
}

#container {
	float: left;
	display: inline;
	width: 898px;
	border: 1px solid #bbbbbb;
	padding: 20px 30px 20px 30px;
	background: #ffffff;
}

.header {
	background: url(../images/header-bg.jpg) no-repeat;
	width: 900px;
	height: 117px;
	position: relative;
}

.header-approval {
	background: url(../images/header-bg-approval.jpg) no-repeat;
	width: 900px;
	height: 117px;
	position: relative;
}

.header-io {
	background: url(../images/header-io.jpg) no-repeat;
	width: 900px;
	height: 117px;
	position: relative;
}
.header-io h1 {
	font-family: arial, helvetica, sans-serif;
	color: #ffffff;
	font-weight: normal;
	font-size: 1em;
	position: absolute;
	top: 90px;
	right: 20px;
	text-align: right;
	padding-bottom: 5px;
}

.header h1 {
	font-family: arial, helvetica, sans-serif;
	color: #ffffff;
	font-weight: normal;
	font-size: 1em;
	position: absolute;
	top: 90px;
	right: 20px;
	text-align: right;
	padding-bottom: 5px;
}

.header-approval h1 {
	font-family: arial, helvetica, sans-serif;
	color: #ffffff;
	font-weight: normal;
	font-size: 1em;
	position: absolute;
	top: 90px;
	right: 20px;
	text-align: right;
	padding-bottom: 5px;
}

.header-2 {
	background: url(../images/header-bg-2.jpg) no-repeat;
	width: 900px;
	height: 117px;
	position: relative;
}

.header-2 h1 {
	font-family: arial, helvetica, sans-serif;
	color: #ffffff;
	font-weight: normal;
	font-size: 1em;
	position: absolute;
	top: 90px;
	right: 20px;
	text-align: right;
	padding-bottom: 5px;
}

.header-3 {
	background: url(../images/header-bg-3.jpg) no-repeat;
	width: 900px;
	height: 117px;
	position: relative;
}

.header-3 h1 {
	font-family: arial, helvetica, sans-serif;
	color: #ffffff;
	font-weight: normal;
	font-size: 1em;
	position: absolute;
	top: 90px;
	right: 20px;
	text-align: right;
	padding-bottom: 5px;
}
.header-4 {
        background: url(../images/header-bg-4.jpg) no-repeat;
        width: 900px;
        height: 117px;
        position: relative;
}

.header-4 h1 {
        font-family: arial, helvetica, sans-serif;
        color: #ffffff;
        font-weight: normal;
        font-size: 1em;
        position: absolute;
        top: 90px;
        right: 20px;
        text-align: right;
        padding-bottom: 5px;
}

form {
	width: 895px;
}

form fieldset {
	margin: 10px 0 10px 0;
	padding: 20px;
}

form fieldset p {
	line-height: 1.5em;
	padding-bottom: 1em;
}

form fieldset p span, form fieldset code span {
	color: #ff0000;
	font-weight: bold;
}

form fieldset div#toggle-yes, form fieldset div#toggle-no {
	border-top: 1px dashed #999999;
	padding: 1em 0 0 0;
}

form fieldset code{
	display: block;
	background: #eeeeee;
	border: 1px solid #cccccc;
	padding: 10px;
	font-size: 12px;
}

form fieldset a {
	color: #006699;
}

form fieldset a:hover {
	text-decoration: none;
}

form fieldset textarea {
	width: 270px;
	height: 70px;
	margin: 0 0 1em 0;
	overflow: auto;
	font-family: tahoma, geneva, sans-serif;
	line-height: 1.5em;
	padding: 5px;
	font-size: 1em;
}

form fieldset.blue-bg {
	background: #e9f7ff;
	border: 1px solid #b2c9d6;
}

form fieldset.blue-bg p {
	font-family: georgia, serif;
	font-size: 0.75em;
	line-height: 1.5em;
	padding-bottom: 1em;
}

form fieldset.blue-bg p span {
	font-size: 1.5em;
	font-weight: normal;
	color: #333333;
}

form fieldset.blue-box {
	float: left;
	display: inline;
	width: 900px;
	background: url(../images/section-bg-top.jpg) no-repeat;
	padding: 7px 0 0 0;
	margin: 40px 0 0 0;
	font-size: 12px;
}

form fieldset.blue-box div.outer {
	float: left;
	display: inline;
	width: 900px;
	background: url(../images/section-bg-bottom.jpg) bottom left no-repeat;
	padding: 0 0 7px 0;
}

form fieldset.blue-box div.inner {
	float: left;
	display: inline;
	width: 853px;
	border-left: 1px solid #24afff;
	border-right: 1px solid #24afff;
	padding: 13px 20px 13px 20px;
	position: relative;
}

form fieldset.blue-box h1 {
	color: #24afff;
	font-size: 24px;
	text-transform: uppercase;
	margin: -41px 0 0 0;
	position: relative;
	padding-bottom: 21px;
}

form fieldset.blue-box ul {
	padding: 0 0 10px 0;
}

form fieldset.blue-box ul li {
	line-height: 1.5em;
}

form fieldset input.button {
	font-size: 1.75em;
	font-weight: bold;
	margin: 10px 0 0 0;
}

form fieldset label {
	float: left;
	display: inline;
	width: 120px;
	font-size: 12px;
	text-align: right;
	padding: 0 5px 0 0;
}

form fieldset ul {
	float: left;
	display: inline;
	width: 853px;
}

form fieldset li {
	float: left;
	display: inline;
	width: 400px;
	padding: 0 0 5px 0;
}

form table {
	width: 853px;
}	

form td {
	padding: 10px;
	border-bottom: 1px solid #ccc;
}

form thead td {
	font-size: 14px;
	font-weight: bold;
}

form embed {
	width: 853px;
	height: 500px;
	border-bottom: 1px solid #ccc;
}

form ul#campaign-results {
	background: url(../images/results-bg.png) repeat-y;
	color: #fff;
	width: 358px;
	position: absolute;
	top: 64px;
	left: 20px;
	border: 1px solid #333;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 10px;
}

form ul#advertiser-results {
	background: url(../images/results-bg.png) repeat-y;
	color: #fff;
	width: 358px;
	position: absolute;
	top: 64px;
	left: 420px;
	border: 1px solid #333;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 10px;
}

form ul#campaign-results li, form ul#advertiser-results li {
	width: 358px;
}

form ul#campaign-results a, form ul#advertiser-results a {
	color: #fff;
}

form ul#campaign-results a:hover, form ul#advertiser-results a:hover {
	text-decoration: none;
}

form ul#campaign-results div, form ul#advertiser-results div {
	background: #333;
	margin: 10px 0 0 0;
}

.edit {
	border-left: 1px solid #999999; 
	padding: 0 0 0 7px; 
	margin: 0 0 0 3px;
}
