/vendor
/public/css/*.*
/public/js/*.*
/public/js/min/*.*
/public/js/templates/*.*
/public/app.js
/public/fonts
/node_modules
Homestead.yaml
Homestead.json
.env
.env.testing
.idea
composer.lock
/.ideas
/public/bower_components
*.phar
.DS_Store
*.map
*.csv
*.sql
*.log
