<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Mailing Tool: Setup Advertisers</title>
<link href="/css/main1.css" rel="stylesheet" type="text/css">
<link href="/css/menu.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/chromemenu/chromejs/chrome.js">

/***********************************************
* Chrome CSS Drop Down Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
***********************************************/

</script>

</head>

<body>
<div id="container">
<div id="green">
<img src="/images/ban_mt_ad.jpg" class="bar">
</div>
<div class="youracct" id="chromemenu">
<ul>
<li><a href="#" rel="dropmenu1" style="color:#666666;"><b>Welcome, <TMPL_VAR NAME=USERNAME>!</b><br>Your Account</a></li>
</ul>
</div>

<!--1st drop down menu -->                                                   
<div id="dropmenu1" class="dropmenudiv top">
<a href="/editcontact.html">Edit Contact Information</a>
<a href="/maintainence.html">Quick Maintainence</a>
<a href="/cgi-bin/logout.cgi">Logout</a>
</div>
<!--End Top Nav-->
<TMPL_UNLESS name='SetupAdvertisers'>
<div class="chromestyle" id="chromemenu2">
<ul>
<li><a href="#" rel="dropmenu2">Advertiser Setup</a></li>
<li><a href="#" rel="dropmenu3">Manage Advertisers</a></li>
<li><a href="#" rel="dropmenu4">Suppression</a></li>
<li style="padding-left:533px;">&nbsp;</li>
<li><a href="/cgi-bin/mainmenu.cgi">Back to Top</a></li>
</ul>
</div>

<!--1st drop down menu -->                                                   
<div id="dropmenu1" class="dropmenudiv top">
<a href="/editcontact.html">Edit Contact Information</a>
<a href="/maintainence.html">Quick Maintainence</a>
<a href="/cgi-bin/logout.cgi">Logout</a>
</div>

<!--2nd drop down menu -->                                                   
<div id="dropmenu2" class="dropmenudiv">
<a href="/cgi-bin/advertiser_disp.cgi?pmode=A">Add a New Advertiser</a>
<a href="/cgi-bin/creative_list.cgi">Add/Update Creative</a>
<a href="/cgi-bin/unique_advertiser_main.cgi">Content Selection (USA)</a>
</div>


<!--3rd drop down menu -->                                                
<div id="dropmenu3" class="dropmenudiv">
<p style="color:#a7d9ff; padding-left:5px;">Search Advertisers
<a href="/cgi-bin/advertiser_list.cgi">Update All Advertisers</a>
<a href="/cgi-bin/replace_advertiser_frame.cgi">Replace Advertisers</a>
<a href="/cgi-bin/adv_copy.cgi">Copy Advertisers</a>
<a href="/adv_search.html">Search Advertisers</a>
</p>
<a href="/cgi-bin/list_category.cgi">Add/Edit Categories</a>
<a href="/cgi-bin/new_list_category.cgi">New Categories/Brand</a>
<a href="/cgi-bin/company_list.cgi">Company Info</a>
<a href="/cgi-bin/list_refurl.cgi">Setup Redirects</a>
</div>

<!--4th drop down menu -->                                                   
<div id="dropmenu4" class="dropmenudiv">
<a href="/cgi-bin/md5_supplist_list.cgi">MD5 Suppression List</a>
<a href="/cgi-bin/supplist_mgr.cgi">Suppression List Manager</a>
<a href="/cgi-bin/supplist_add.cgi">Add a New Suppression List</a>
<a href="/cgi-bin/supplist_list.cgi">Add to Suppression List</a>
<a href="/cgi-bin/domain_supplist_add.cgi">Add a New Domain List</a>
<a href="/cgi-bin/domain_supplist_list.cgi">Add To Domain List</a>
</div>
</div>
</TMPL_UNLESS>
<script type="text/javascript">
cssdropdown.startchrome("chromemenu", "chromemenu2")
</script>

</div>
</body>
</html>

