<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Mailing Tool</title>
<link href="/css/main1.css" rel="stylesheet" type="text/css">
<link href="/css/menu.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="/chromemenu/chromejs/chrome.js">

/***********************************************
* Chrome CSS Drop Down Menu- (c) Dynamic Drive DHTML code library (www.dynamicdrive.com)
* This notice MUST stay intact for legal use
* Visit Dynamic Drive at http://www.dynamicdrive.com/ for full source code
***********************************************/

</script>

</head>

<body>
<div id="blue">
<img src="/images/ban_mt_main.jpg" class="bar">
</div>

<div id="container">
<div class="youracct" id="chromemenu">
<ul>
<li><a href="#" rel="dropmenu1" style="color:#666666;"><b>Welcome, <TMPL_VAR NAME=USERNAME>!</b><br>Your Account</a></li>
</ul>
</div>

<!--1st drop down menu -->                                                   
<div id="dropmenu1" class="dropmenudiv top">
<a href="/editcontact.html">Edit Contact Information</a>
<a href="/maintainence.html">Quick Maintainence</a>
<a href="/cgi-bin/logout.cgi">Logout</a>
</div>

<script type="text/javascript">

cssdropdown.startchrome("chromemenu")

</script>

<div id="main_menu">
<h3>Welcome, <TMPL_VAR NAME=USERNAME>!</h3>
<TMPL_UNLESS name='SetupDeploys'>
<a href="/cgi-bin/mainmenu.cgi?t=deploys"><img src="/images/but_deploy.png" style="padding-right:10px;" border="0"></a>
</TMPL_UNLESS>
<TMPL_UNLESS name='SetupAdvertisers'>
<a href="/cgi-bin/mainmenu.cgi?t=advertiser"><img src="/images/but_ad.png" style="padding-right:10px;" border="0"></a>
</TMPL_UNLESS>
<TMPL_UNLESS name='SetupLists'>
 <a href="/cgi-bin/mainmenu.cgi?t=lists"><img src="/images/but_lists.png" border="0"></a>
</TMPL_UNLESS>
</div>
</div>
</body>
</html>

