/**
 * Font Imports
 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,800);

/**
 * Package Imports
 */
@import "select.min.css";

/**
 * Custom Styling Override
 */
$navbar-margin-bottom: 0;
$navbar-inverse-bg: #16416C;

$navbar-inverse-brand-color: #FFF;
$navbar-inverse-brand-hover-color: #9D9D9D;


/**
 *Bootstrap Includes
 */
@import "node_modules/angular-material/angular-material.scss";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/jasny-bootstrap/scss/jasny-bootstrap.scss";

/**
 * Custom Vanilla Styling
 */
html , body { background-color: #EAEAEA; }

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.25em;
}

#flashContainer{
    padding-top:61px;
}

.no-padding { padding: 0; }

.dropFile {
    padding: 15px;
    border: 2px #f1f1f1 dashed;
    border-radius: 5px;
    line-height: 34px;
}

/**
 * Fields
 */
.btn {
    margin: .5em;
}

.chipList {
    min-height: 75px;
    margin-bottom: 10px;
    /*box-shadow: 0 1px rgb(224,224,224);*/
}

.chipBucket{
    height: 250px;
}

/**
 * Lists
 */
.md-list-item {
    padding: 10px 0;
}

.md-list-item span {
    color: rgba(0,0,0,0.54);
}

/**
 * Nav
 */
.navbar-toggle {
    background-color: #000;
    float: left;
    margin-left: .5em;

    @media (min-width: 0) {
        display: block; /* force showing the toggle */
    }
}

@media (min-width: 768px)
{
    .navbar-right {
        margin-right: 10px;
    }
}

/**
 * Tables
 */
thead {
    background-color: #2e5c89;
    color: #FFF;
}

.mtNestedTable thead {
    background-color: #468cce;
}

/**
Panel Custom - we should break up into componets.
**/

.panel-default {
    margin-top:20px;
}

/**
Roles Pages custom
**/
.permissions {
    .checkbox {
        margin-top:0;
        margin-bottom:5px;
        + .checkbox {
            margin-top:0;
        }
    }
}

/**
 * Pagination
 */
.paginationCount { margin: 20px 10px; }

/**
 * Animations
 */
.rotateMe {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }
