/**
 * Font Imports
 */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,600,300,800);

/**
 * Package Imports
 */
@import "select.min.css";

/**
 * Custom Styling Override
 */
$navbar-margin-bottom: 20px;
$navbar-default-bg: rgb(22,65,108);
$navbar-inverse-bg: #16416C;
$navbar-default-link-color: #fff;

$navbar-inverse-brand-color: #FFF;
$navbar-inverse-brand-hover-color: #9D9D9D;
$modal-sm: 400px;
$navbar-default-link-hover-bg: #fff;

/**
 * Materials Variable Overrides
 */
$card-padding: 6px;

/**
 *Bootstrap Includes
 */
@import "node_modules/angular-material/angular-material.scss";
@import "material.min";
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "node_modules/jasny-bootstrap/scss/jasny-bootstrap.scss";
$table-bg-accent-2 : #eaeaea;

.table-striped {
    > tbody > tr:nth-of-type(even) {
        background-color: $table-bg-accent-2;
    }
}

.tooltip-inner { min-width: 100px; }

.fixed-sidenav-offset {
    margin-left: 300px;
}

.container-no-left{
    margin-right: auto;
    margin-left: 0!important;
    padding-left: 15px;
    padding-right: 15px;
}

.md-datepicker-calendar {
    background-color: #FFF;
}

/* IVH Includes */
@import "node_modules/angular-ivh-treeview/dist/ivh-treeview";
@import "node_modules/angular-ivh-treeview/dist/ivh-treeview-theme-basic";

ul.ivh-treeview ul.ivh-treeview {
    padding-left: 40px;
}

.ivh-treeview-node-label {
    font-size: 1.25em;
}

/**
 * Drag & Drop Lists Styling
 */
.draggable-membership-widget div.panel-body {
    height: 300px;
    overflow: scroll;
}

.draggable-membership-widget ul[dnd-list],
.draggable-membership-widget ul[dnd-list] > li {
    position: relative;
}

.draggable-membership-widget ul[dnd-list] > li:hover {
    cursor: pointer;
}

.draggable-membership-widget ul[dnd-list] {
    min-height: 250px;
    padding-left: 0px;
}

.draggable-membership-widget ul[dnd-list] .dndDraggingSource {
    display: none;
}


.draggable-membership-widget ul[dnd-list] .dndPlaceholder {
    display: block;
    background-color: #ddd;
    min-height: 42px;
}

.draggable-membership-widget ul[dnd-list] li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
}

/**
 * Label Styles
 */
.mt2-label{
    display: inline;
    padding: .2em .6em .3em;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
}
.mt2-label-info{
    background-color: #5bc0de;
}
.mt2-label-default{
    background-color: #777777;
}
.mt2-label-success{
    background-color: #5cb85c;
}
/**
 * Materials Overrides
 */
md-menu-content.md-mt2-zeta-theme md-menu-item {
    color: rgba(0,0,0,0.87);
}

md-dialog { background-color: #FFF; }
md-switch.md-checked .md-thumb:before { background-color: #3F51B5; }

/**
 * MD Data Tables
 */
@import "node_modules/angular-material-data-table/dist/md-data-table.min";

table.md-table:not(.md-row-select) td.md-cell:nth-child(n+2):nth-last-child(n+2), table.md-table:not(.md-row-select) th.md-column:nth-child(n+2):nth-last-child(n+2){
    padding: 0 28px 0 0;
}
.md-table-header-override-whitetext , .md-table-header-override-whitetext .md-sort-icon {
    color: rgba(255, 255, 255, 0.87) !important;
}

.mt2-cell-left-padding {
    padding-left: 1em !important;
}

.md-table-pagination .label {
    color: rgba(0, 0, 0, 0.54) !important;
}

.mt2-live-row {
    background-color: #AED581 !important;
    font-weight: bold;
}

.mt2-live-cell-content-fix {
    margin-top: 1em;
}

table.md-table.md-row-select tbody.md-body > tr.md-row:not([disabled]):hover {
    cursor: pointer;
}

.no-padding {
    padding:0px;
}

.no-margin {
    margin: 0px;
}

.mt2-bg-success {
    background-color: #dff0d8;
}
.mt2-bg-warn {
    background-color: #fcf8e3;
}
.mt2-bg-danger {
    background-color: #f2dede;
}

.deploy-error{
    padding: 5px;
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

.mt2-bg-super-danger {
    background-color: #ef8a81;
}

table.mt2-table-large td.md-cell:nth-child(n+2):nth-last-child(n+2),
table.mt2-table-large th.md-column:nth-child(n+2):nth-last-child(n+2) {
    padding: 0 10px 0 10px ;
}

table.mt2-table-large th.mt2-table-header-wrap {
    white-space: normal;
}

table.md-table th.md-column.mt2-table-header-center {
    height: 56px;
    text-align: center;
    padding: 0 10px !important;
}

table.md-table td.md-cell.mt2-table-cell-center {
    text-align: center;
    padding: 0 10px !important;
}

.mt2-nested-table thead {
    background-color: #2196F3;
}

th md-checkbox.md-mt2-zeta-theme:not(.md-checked) .md-icon {
    border-color: rgba(255, 255, 255, 0.87);
}
/*
 * Button Styling
 */
 md-icon.md-mt2-zeta-theme.mt2-icon-black{
    color: #000000;
 }

 md-icon.md-mt2-zeta-theme.mt2-icon-white{
    color: #ffffff;
 }

.md-button.mt2-button-xs{
    padding: 0 5px;
    margin: 5px;
    min-width: 80px;
    min-height: 23px;
    line-height: 28px;
    font-size: 12px;
    font-weight: 600;
}
.md-button.mt2-icon-button-xs{
    width: 34px;
    height: 34px;
    min-height: 34px;
}
.md-button.mt2-button-xs md-icon,
.md-button.mt2-icon-button-xs md-icon{
    width: 16px;
    height: 16px;
    min-width: 16px;
    min-height: 16px;
}
.md-button.md-mt2-zeta-theme.md-raised.mt2-button-success,
.md-button.mt2-button-success {
    color: rgb(255,255,255);
    background-color: #5cb85c;
}
a.md-button.md-mt2-zeta-theme.md-raised.mt2-button-success:not([disabled]):hover,
.md-button.md-mt2-zeta-theme.md-raised.mt2-button-success:not([disabled]):hover {
    background-color: #5cb85c;
}

.mt2-button-option{
    margin: 6px 0;
}
.mt2-button-option[disabled]{
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.mt2-button-option-left{
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}
.mt2-button-option-right{
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}
/*
 * Materials Menu Styling
 */
md-menu-content.md-mt2-zeta-theme md-menu-item {
    color: rgba(0,0,0,0.87) !important;
}

/**
 * 3 Month Report Styling
 */
.mt2-total-row {
    font-weight: bold;
}

.mt2-month-header {
    text-align: center !important;
    font-size: 1.25em !important;
}

.mt2-current-month-header {
    background-color: #3a76ad;
}

.mt2-current-month-cell {
    background-color: #dee1e2;
}

.mt2-last-month-header {
    background-color: #366da0;
}

.mt2-last-month-cell {
    background-color: #d1d4d6;
}

.mt2-two-months-ago-header {
    background-color: #326493;
}

.mt2-two-months-ago-cell {
    background-color: #c5c7c9;
}

/**
 * Custom Vanilla Styling
 */
html , body { background-color: #EAEAEA; }

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 1.25em;
}

#flashContainer{
    padding-top:61px;
}

.bold-text { font-weight: bold; }

.text-right { text-align: right; }

.add-bottom-margin { margin-bottom: 24px; }

.no-top-margin { margin-top: 0; }

.no-padding { padding: 0; }

.align-top { vertical-align: top; }

.dropFile {
    padding: 15px;
    border: 2px #f1f1f1 dashed;
    border-radius: 5px;
    line-height: 34px;
}

.transparent-background , .transparent-background .md-datepicker-input { background-color: rgba(0, 0, 0, 0) !important; }
.transparent-background .md-datepicker-expand-triangle { border-top-color: rgba(255,255,255,0.87) !important; }


.table-striped > tbody > tr {
    &.rowDisabled{
    background-color: #ffc4c4;
    }
}

/**
 * Attribution Projections Styling
 */
.mt2-proj-increase-bg {
    background-color: #DFF0DB;
}

.mt2-proj-decrease-bg {
    background-color: #efdcdc;
}

/**
 * Fields
 */
 md-input-container{
    margin: 18px 0 10px;
 }

.field-top-margin {
    margin-top: 1em;
}

.range-delimiter {
    display: inline-block;
    margin: 0.5em 1em;
    font-weight: bolder;
}

.input-group-btn{
    .btn{
        margin:0;
    }
}

.chipList {
    min-height: 75px;
    margin-bottom: 10px;
    /*box-shadow: 0 1px rgb(224,224,224);*/
}

.chipBucket{
    height: 250px;
}

.autocompleteSelect , .autocompleteSelect input {
    border: 1px solid #ccc;
    background-color: #FFF !important;
    border-radius: 4px;
}

.membershipBox {
    height: 300px;
}
.md-button.md-mt2-zeta-theme.mt2-button-save{
    font-weight: 600;
    font-size: 16px;
    color: #ffffff;
    background-color: rgb(180,215,76);

    &:not([disabled]):hover{
        background-color: rgb(166,201,43);
    }
}

.md-chips {
    font-size: inherit;
}

md-chips.md-mt2-zeta-theme.ng-invalid .md-chips {
    box-shadow: 0 2px rgb(221,44,0);
}

.mt2-error-message {
    color: rgb(221,44,0);
}
/**
 * Lists
 */
.md-list-item {
    padding: 10px 0;
}

.md-list-item span {
    color: rgba(0,0,0,0.54);
}

.largeListItem {
    font-weight: bold;
    font-size: 14px;
}

.selectedListItem {
    background-color: #A5D6A7 !important;
}


/**
 * Tables
 */
thead {
    background-color: #2e5c89;
    color: #FFF;
}
table.md-table th.md-column md-icon {
    min-width: 16px;
    min-height: 16px;
}
.mtNestedTable thead {
    background-color: #468cce;
}

/**
Panel Custom - we should break up into componets.
**/

.panel-default {
    margin-top:20px;
}

/**
Roles Pages custom
**/
.permissions {
    .checkbox {
        margin-top:0;
        margin-bottom:5px;
        + .checkbox {
            margin-top:0;
        }
    }
}

/**
 * Pagination
 */
.paginationCount { margin: 20px 10px; }

/**
 * Animations
 */
.rotateMe {
    -webkit-animation:spin 4s linear infinite;
    -moz-animation:spin 4s linear infinite;
    animation:spin 4s linear infinite;
}

@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


/**
Domain Add
**/
md-content{
    background: rgb(176,190,197);
}


.angucomplete-holder {
    position: relative;
}

.angucomplete-dropdown {
    border-color: #ececec;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px;
    text-align: left;
    padding: 6px;
    cursor: pointer;
    z-index: 9999;
    position: absolute;
    overflow-y: auto;
    max-height: 200px;
    margin-top: -3px;
    background-color: #ffffff;
}

.angucomplete-searching {
    color: #acacac;
    font-size: 14px;
}

.angucomplete-description {
    font-size: 14px;
}

.angucomplete-row {
    padding: 5px;
    color: #000000;
    margin-bottom: 4px;
    text-align: left;
    clear: both;
}

.angucomplete-selected-row {
    background-color: lightblue;
    color: #ffffff;
}

/**
 * Menu Styling & Animation
 */
md-sidenav {
    width: 260px;
}

.md-sidenav-left { overflow: initial !important; }

.mt2-nav-main-item,
.mt2-nav-sub-item {
    min-height: auto;
    color: #adb0b2;
}

.mt2-nav-sub-item {
    background-color: #21262d;
}

md-list-item.mt2-nav-sub-item .md-list-item-inner {
    min-height: auto;
}

.mt2-nav-main-text {
    font-weight: bold;
}

.mt2-sub-toolbar {
    height: 50px;
}

@media (min-width: 768px)
{
    .navbar-right {
        margin-right: 10px;
    }
}
.mt2-sidenav-dark , .mt2-nav-toggle {
    background-color: #191c21 !important;
}

.mt2-sidenav-dark md-icon {
    color: #adb0b2 !important;
}

.mt2-logo-container {
    margin-left: 15px;
}

.mt2-mini-logo-container {
    margin: 10px;
}

.mt2-logo-img {
    margin: 10px 0;
}

.mt2-logo-text {
    margin-top: 17px;
    color: #fff;
    margin-left: 10px;
    font-weight: bolder;
    font-size: 28px;
}

.mt2-sidenav-minimized {
    width: 70px !important;
}

.mt2-nav-main-item {
    padding-left: 3px;
}

.mt2-nav-main-item:hover {
    padding-left: 0px;
    border-left: #039be5 3px solid;
    color: #FFF !important;
    cursor: pointer;

    .mt2-nav-icon {
        color: #FFF !important;
    }
}

.mt2-nav-active {
    color: #039be5 !important;
}

.mt2-nav-icon-active {
    border-left: #039be5 3px solid;
    background-color: #131519;
    color: #FFF;

    .mt2-nav-icon {
        color: #FFF !important;
    }
}

.mt2-nav-active span.childMenu {
    margin-left: -10px;
}

.mt2-nav-active span.childMenu:before {
    content:"• ";
}

.mt2-nav-main-text {
    font-size: 14px;
}

.mt2-nav-main-icon-item {
    color: #adb0b2;
}

.mt2-nav-main-icon-item:hover {
    margin-left: -3px;
    padding-left: 13px;
    border-left: #039be5 6px solid;
    color: #FFF;
    cursor: pointer;

    .mt2-nav-icon {
        color: #FFF !important;
    }
}

.mt2-nav-main-icon-item .mt2-nav-icon {
    margin-right: 0 !important;
}

.hoverChildMenu {
    position:absolute;
    width: 200px;
    margin-left: -3px;
    background-color: #21262d;
}

.hoverChildMenu a , .mt2-nav-sub-item a {
    color: #adb0b2;
    font-size: 14px;
    text-decoration: none;

    :hover {
        color: #039be5;
    }
}


/**
 * Bootstrap Nav
 */
#mainSideNav li.dropdown:hover a.dropdown-toggle , #mainSideNav.navmenu-inverse .navmenu-nav > .open > a {
    border-left: #039be5 3px solid;
    background-color: #21262d;
}

#mainSideNav li.dropdown md-icon {
    color: #777777;
}

#mainSideNav li.dropdown:hover md-icon , #mainSideNav li.dropdown.open md-icon {
    color: #FFF;
}

#mainSideNav h3 {
    margin: 0;
    color: #FFF;
    font-weight: bolder;
}

#mainSideNav a {
    padding-bottom: 0.5em;
}

.nav-icon {
    margin-right: 1em;
}

.nav-child-text {
    font-size: 14px;
    margin-left: 1em;
    font-style: italic;
}

.nav-child-item {
    padding: 0.5em;
    background-color: #21262d;
}

.navmenu-inverse .navmenu-nav.dropdown-menu > .active > a {
    background-color: #21262d;
}

.dropdown-menu {
    padding-bottom: 0;
}

.navmenu-inverse, .navbar-inverse .navbar-offcanvas {
    background-color: #191c21;
}

.navbar-nav > li > a {
    cursor: pointer;
}

.page-action-menu {
    margin-left: 2em;
}

.mt2-nav-toggle {
    position: absolute;
    left: 0;
    width: 36px;
    height: 36px;
    margin: 7px 7px 7px 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: #383F47;

    md-icon {
        color: #FFF;

    }
}

.mt2-nav-toggle:hover {
    cursor: pointer;
}

.navmenu-inverse .navmenu-nav > .active > a {
    color: #039be5 !important;
}

.navmenu-inverse .navmenu-nav > .active > a > span:before {
    content:"• ";
}

//Headroom
.headroom {
    -webkit-animation-duration: 0.5s;
    -moz-animation-duration: 0.5s;
    -o-animation-duration: 0.5s;
    animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    will-change: transform, opacity;
}
.headroom--pinned {
    -webkit-animation-name: slideDown;
    -moz-animation-name: slideDown;
    -o-animation-name: slideDown;
    animation-name: slideDown;
}
.headroom--unpinned {
    -webkit-animation-name: slideUp;
    -moz-animation-name: slideUp;
    -o-animation-name: slideUp;
    animation-name: slideUp;
}

@-webkit-keyframes slideDown {
    0% {
        -webkit-transform: translateY(-100%)
    }

    100% {
        -webkit-transform: translateY(0)
    }
}

@-moz-keyframes slideDown {
    0% {
        -moz-transform: translateY(-100%)
    }

    100% {
        -moz-transform: translateY(0)
    }
}

@-o-keyframes slideDown {
    0% {
        -o-transform: translateY(-100%)
    }

    100% {
        -o-transform: translateY(0)
    }
}

@keyframes slideDown {
    0% {
        transform: translateY(-100%)
    }

    100% {
        transform: translateY(0)
    }
}

@-webkit-keyframes slideUp {
    0% {
        -webkit-transform: translateY(0)
    }

    100% {
        -webkit-transform: translateY(-100%)
    }
}

@-moz-keyframes slideUp {
    0% {
        -moz-transform: translateY(0)
    }

    100% {
        -moz-transform: translateY(-100%)
    }
}

@-o-keyframes slideUp {
    0% {
        -o-transform: translateY(0)
    }

    100% {
        -o-transform: translateY(-100%)
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(0)
    }

    100% {
        transform: translateY(-100%)
    }
}


//** Should break this out into partials soon**/

.pinned-container{
    margin-top: 70px;
}

.navbar-topper{
    margin: 0;
    border-radius: 0;
    background-color: rgb(40,53,147);
    + md-card{
        margin:0;
    }
    ul {
        li {
            a{
                color:#fff;
                &:hover{
                    color: #333;
                }
            }
        }
    }
}

md-table-container{
    overflow: visible;
}
.attribution-actions{
    .glyphicon{
        font-size: 20px;
        padding: 0 10px;
    }
}
.list-group-item h4{
    margin-top:5px;
    margin-bottom: 5px;
}
