<div id="mtTableContainer" class="table-responsive">
    <table class="table table-striped table-bordered table-hover text-center">
        <thead>
            <tr>
                <th class="text-center"><strong><span class="glyphicon glyphicon-refresh rotateMe" ng-if="ctrl.loadingflag == 1"></span></strong></th>
                <th class="text-center">Name</th>
                <th class="text-center">Live</th>
                <th class="text-center">Created</th>
                <th class="text-center">Updated</th>
            </tr>
        </thead>

        <tbody>
            <tr ng-repeat="record in ctrl.records track by $index">
                <td>
                    <md-button ng-href="{{ ctrl.baseurl() + 'attr/edit/' + record.id }}" target="_self"><md-icon md-svg-src="img/icons/ic_mode_edit_black_18px.svg"></md-icon> Edit</md-button>
                    <md-button ng-click="ctrl.copymodel( {  '$event' : $event , currentModelId : record.id } )" class="align-top"><md-icon md-svg-src="img/icons/ic_content_copy_black_18px.svg"></md-icon> Copy</md-button>
                    <md-button ng-href="{{ ctrl.baseurl() + 'attr/projection/' + record.id }}"><md-icon md-svg-src="img/icons/ic_show_chart_black_18px.svg"></md-icon> Projection</md-button>
                </td>

                <td>{{ record.name }}</td>
                <td>{{ record.live == 1 ? 'Yes' : 'No' }}</td>
                <td>{{ record.created_at }}</td>
                <td>{{ record.updated_at }}</td>
            </tr>
        </tbody>
    </table>
</div>
