<div id="mtTableContainer" class="table-responsive">
    <table class="table table-striped table-bordered text-center">
        <thead>
            <tr>
                <th class="text-center"><span class="glyphicon glyphicon-refresh rotateMe" ng-if="ctrl.loadingflag == 1"></span> Name</th>
            </tr>
        </thead>

        <tbody data-link="row" class="rowlink">
        <tr ng-repeat-start="record in ctrl.records track by $index">
                <td>
                    <a data-toggle="collapse" data-target="#clientgroup{{ record.id }}Details" aria-expanded="false" aria-controls="#clientgroup{{ record.id }}Details" ng-click="ctrl.loadchildren( { groupID : record.id } )">
                        <edit-button editurl="'/clientgroup/edit/'" recordid="record.id" class="pull-left"></edit-button> 
                        {{ record.name }}
                    </a>
                </td>
            </tr>
            <tr id="clientgroup{{ record.id }}Details" class="collapse" ng-repeat-end>
                <td>
                    <clientgroup-children-table records="ctrl.children[ record.id ]"></clientgroup-children-table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
