<div id="mtTableContainer" class="table-responsive">
    <table class="table table-striped table-bordered text-center">
        <thead>
            <tr>
                <th class="text-center">ID</th>
                <th class="text-center">Name</th>
                <th class="text-center">
                    <span class="glyphicon glyphicon-refresh rotateMe" ng-if="ctrl.loadingflag == 1"></span>
                </th>
            </tr>
        </thead>

        <tbody data-link="row" class="rowlink">
        <tr ng-repeat-start="record in ctrl.records track by $index">
                <td>{{ record.id }}</td>

                <td>
                    <a data-toggle="collapse" data-target="#clientgroup{{ record.id }}Details" aria-expanded="false" aria-controls="#clientgroup{{ record.id }}Details" ng-click="ctrl.loadchildren( { groupID : record.id } )">
                        {{ record.name }}
                    </a>
                </td>

                <td class="rowlink-skip">
                        <edit-button editurl="'/clientgroup/edit/'" recordid="record.id" class="pull-left"></edit-button> 

                        <button type="button" class="btn btn-primary btn-xs pull-left" ng-click="ctrl.copygroup( { groupID : record.id } )"><span ng-class="{ rotateMe : ctrl.copyingflag }" class="glyphicon glyphicon-copy"></span><span class="hidden-xs"> Copy</span></button>

                        <button type="button" class="btn btn-danger btn-xs pull-left" ng-click="ctrl.deletegroup( { groupID : record.id } )"><span ng-class="{ rotateMe : ctrl.deletingflag }" class="glyphicon glyphicon-remove"></span><span class="hidden-xs"> Delete</span></button>
                </td>
            </tr>
            <tr id="clientgroup{{ record.id }}Details" class="collapse" ng-repeat-end>
                <td colspan="3">
                    <clientgroup-children-table records="ctrl.children[ record.id ]"></clientgroup-children-table>
                </td>
            </tr>
        </tbody>
    </table>
</div>
