<div style="visibility: hidden">
    <div class="md-dialog-container" id="validateModal">
        <md-dialog>
            <md-toolbar class="mt2-theme-toolbar">
                <div class="md-toolbar-tools mt2-theme-toolbar-tools">
                    <h2>Deploy Validation</h2>
                    <span flex></span>
                    <md-button class="md-icon-button" ng-click="ctrl.closeModal()"><md-icon md-font-set="material-icons" class="mt2-icon-white" data-dismiss="modal" title="Close" aria-label="Close">clear</md-icon></md-button>
                </div>
            </md-toolbar>
            <md-dialog-content>
                <div class="md-dialog-content">
                    <md-table-container>
                        <table md-table>
                            <thead md-head class="mt2-theme-thead">
                                <tr md-row>
                                    <th md-column class="md-table-header-override-whitetext"></th>
                                    <th md-column class="md-table-header-override-whitetext">Send Date</th>
                                    <th md-column class="md-table-header-override-whitetext">Deploy ID</th>
                                    <th md-column class="md-table-header-override-whitetext">EspAccount</th>
                                    <th md-column class="md-table-header-override-whitetext">List Profile</th>
                                    <th md-column class="md-table-header-override-whitetext">Offer</th>
                                    <th md-column class="md-table-header-override-whitetext">Creative</th>
                                    <th md-column class="md-table-header-override-whitetext">From</th>
                                    <th md-column class="md-table-header-override-whitetext">Subject</th>
                                    <th md-column class="md-table-header-override-whitetext">Template</th>
                                    <th md-column class="md-table-header-override-whitetext">Mailing Domain</th>
                                    <th md-column class="md-table-header-override-whitetext">Content Domain</th>
                                    <th md-column class="md-table-header-override-whitetext">Cake ID</th>
                                    <th md-column class="md-table-header-override-whitetext">Encrypt Cake?</th>
                                    <th md-column class="md-table-header-override-whitetext">Fully Encrypt Links?</th>
                                    <th md-column class="md-table-header-override-whitetext">URL Format</th>
                                    <th md-column class="md-table-header-override-whitetext">Notes</th>
                                </tr>
                            </thead>
                            <tbody md-body>
                                <tr md-row class="bg-info">
                                    <td md-cell nowrap class="mt2-table-cell-center"><md-icon md-font-set="material-icons" class="mt2-icon-black material-icons icon-xs cmp-tooltip-marker" data-toggle="popover" data-placement="right" data-content="Header in CSV file must include these exact field names. The order of field names is not required to be in this exact order. ">help</md-icon></td>
                                    <td md-cell nowrap></td>
                                    <td md-cell nowrap></td>
                                    <td md-cell nowrap>esp_account_id</td>
                                    <td md-cell nowrap>list_profile_combine_id</td>
                                    <td md-cell nowrap>offer_id</td>
                                    <td md-cell nowrap>creative_id</td>
                                    <td md-cell nowrap>from_id</td>
                                    <td md-cell nowrap>subject_id</td>
                                    <td md-cell nowrap>template_id</td>
                                    <td md-cell nowrap>mailing_domain_id</td>
                                    <td md-cell nowrap>content_domain_id</td>
                                    <td md-cell nowrap>cake_affiliate_id</td>
                                    <td md-cell nowrap>encrypt_cake</td>
                                    <td md-cell nowrap>fully_encrypt</td>
                                    <td md-cell nowrap>url_format</td>
                                    <td md-cell nowrap>notes</td>
                                </tr>
                                <tr md-row ng-repeat="record in ctrl.records track by $index" ng-class="{ 'bg-danger' : record.valid.length > 0 }">
                                    <td md-cell nowrap class="mt2-table-cell-center">{{ $index + 1 }}</td>
                                    <td md-cell nowrap>{{ record.deploy_date }}</td>
                                    <td md-cell nowrap>{{ record.deploy_id }}</td>
                                    <td md-cell nowrap>{{ record.esp_account_id }}</td>
                                    <td md-cell nowrap>{{ record.list_profile_combine_id }}</td>
                                    <td md-cell nowrap>{{ record.offer_id }}</td>
                                    <td md-cell nowrap>{{ record.creative_id }}</td>
                                    <td md-cell nowrap>{{ record.from_id }}</td>
                                    <td md-cell nowrap>{{ record.subject_id }}</td>
                                    <td md-cell nowrap>{{ record.template_id }}</td>
                                    <td md-cell nowrap>{{ record.mailing_domain_id }}</td>
                                    <td md-cell nowrap>{{ record.content_domain_id }}</td>
                                    <td md-cell nowrap>{{ record.cake_affiliate_id }}</td>
                                    <td md-cell nowrap>{{ record.encrypt_cake }}</td>
                                    <td md-cell nowrap>{{ record.fully_encrypt }}</td>
                                    <td md-cell nowrap>{{ record.url_format }}</td>
                                    <td md-cell nowrap>{{ record.notes }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </md-table-container>

                    <div ng-show="ctrl.uploadErrors">
                        <h4>Errors<br/>
                        <small>Please fix the issues below and re-upload the file.</small></h4>
                        <p ng-repeat="record in ctrl.records track by $index">
                            <b ng-show="record.valid.length">Row {{$index + 1}}:</b>
                            <span ng-repeat="item in record.valid">{{item}}. </span>
                        </p>
                    </div>

                </div>
            </md-dialog-content>

            <md-dialog-actions layout="row" layout-align="center center" class="mt2-theme-dialog-footer">
                <div class="col-md-4">
                    <input class="btn mt2-theme-btn-primary btn-block" ng-click="ctrl.massUpload()" ng-disabled="ctrl.uploadErrors" type="submit" value="Upload">
                </div>
            </md-dialog-actions>
        </md-dialog>
    </div>
</div>

