<div layout="row" flex>
    <md-card flex>
        <md-card-title layout-align="start center" class="md-primary md-hue-2">
            <h4>
                <span>{{ ctrl.availablerecordtitle }}</span>
            </h4>

            <span flex></span>

            <md-button class="md-icon-button md-primary" aria-label="Add Selected" ng-click="ctrl.addSelectedRecords()">
                <md-tooltip md-direction="bottom">Add Selected</md-tooltip>

                <md-icon md-svg-icon="img/icons/ic_add_circle_outline_black_36px.svg"></md-icon>
            </md-button>
        </md-card-title>

        <md-card-content>
            <select multiple style="width:100%;height:150px;" ng-model="ctrl.highlightedSelectedRecords" ng-options="record[ ctrl.namefield ] for record in ctrl.recordlist">
            </select>
        </md-card-content>
    </md-card>

    <md-card flex>
        <md-card-title layout-align="start center" class="md-primary">
            <h4>
                <span>{{ ctrl.chosenrecordtitle }}</span>
            </h4>

            <span flex></span>

            <md-button class="md-icon-button md-primary" aria-label="Remove Selected" ng-click="ctrl.removeChosenRecords()">
                <md-tooltip md-direction="bottom">Remove Selected</md-tooltip>

                <md-icon md-svg-icon="img/icons/ic_remove_circle_outline_black_36px.svg"></md-icon>
            </md-button>
        </md-card-title>

        <md-card-content>
            <select multiple style="width:100%;height:150px;" ng-model="ctrl.highlightedChosenRecords" ng-options="chosenRecord[ ctrl.namefield ] for chosenRecord in ctrl.chosenrecordlist">
            </select>
        </md-card-content>
    </md-card>
</div>
