<div flex layout-xs="column" layout-md="column" layout="row" layout-align="space-between">
    <md-card flex>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3>{{ ctrl.availablecardtitle }}</h3>
                
                <span flex></span>

                <md-button class="md-icon-button md-primary" aria-label="Select All" ng-click="ctrl.selectAllAvailableRecords( ctrl.recordlist )">
                    <md-tooltip md-direction="bottom">Select All</md-tooltip>

                    <md-icon md-svg-icon="img/icons/ic_select_all_white_36px.svg"></md-icon>
                </md-button>

                <md-button class="md-icon-button md-primary" aria-label="Clear" ng-click="ctrl.clearAllAvailableRecords( ctrl.recordlist )">
                    <md-tooltip md-direction="bottom">Clear Selected</md-tooltip>

                    <md-icon md-svg-icon="img/icons/ic_clear_white_36px.svg"></md-icon>
                </md-button>

                <md-button class="md-icon-button md-primary" aria-label="Add Selected" ng-click="ctrl.addSelectedRecords()">
                    <md-tooltip md-direction="bottom">Add Selected</md-tooltip>

                    <md-icon md-svg-icon="img/icons/ic_add_circle_outline_white_36px.svg"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-content class="membershipBox">
            <md-list>
                <md-list-item ng-repeat="record in ctrl.recordlist track by $index" ng-hide="record.chosen">
                    <div class="md-list-item" ng-click="ctrl.recordMultiSelect( record , $index , ctrl.recordlist , $event )" flex>
                        <div layout="row">
                            <md-checkbox aria-label="{{ record[ ctrl.namefield ] }}" ng-true-value="true" ng-model="record.selected" ng-click="ctrl.recordMultiSelect( record , $index , ctrl.recordlist , $event )"></md-checkbox>
                            <div class="md-list-item-text" flex>
                                <h5>{{ record[ ctrl.namefield ] }}</h5>
                                <span>{{ record[ ctrl.idfield ] }}</span>
                            </div>
                        </div>
                    </div>

                    <md-button class="md-icon-button md-primary" aria-label="Add {{ record[ ctrl.namefield ] }}" ng-click="ctrl.addSingleRecord( record )">
                        <md-tooltip md-direction="left">Add {{ record[ ctrl.namefield ] }}</md-tooltip>

                        <md-icon md-svg-icon="img/icons/ic_add_circle_outline_black_36px.svg"></md-icon>
                    </md-button>
                </md-list-item>
            </md-list>
        </md-content>
    </md-card>

    <md-card flex>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h3>{{ ctrl.chosenrecordtitle }}</h3>
                
                <span flex></span>

                <md-button class="md-icon-button md-primary" aria-label="Select All" ng-click="ctrl.selectAllAvailableRecords( ctrl.chosenrecordlist )">
                    <md-tooltip md-direction="bottom">Select All</md-tooltip>

                    <md-icon md-svg-icon="img/icons/ic_select_all_white_36px.svg"></md-icon>
                </md-button>

                <md-button class="md-icon-button md-primary" aria-label="Clear Selected" ng-click="ctrl.clearAllAvailableRecords( ctrl.chosenrecordlist )">
                    <md-tooltip md-direction="bottom">Clear Selected</md-tooltip>

                    <md-icon md-svg-icon="img/icons/ic_clear_white_36px.svg"></md-icon>
                </md-button>

                <md-button class="md-icon-button md-primary" aria-label="Remove Selected" ng-click="ctrl.removeAllSelectedChosenRecords()">
                    <md-tooltip md-direction="bottom">Remove Selected</md-tooltip>

                    <md-icon md-svg-icon="img/icons/ic_remove_circle_outline_white_36px.svg"></md-icon>
                </md-button>
            </div>
        </md-toolbar>

        <md-content class="membershipBox">
            <md-list>
                <md-list-item ng-repeat="record in ctrl.chosenrecordlist track by $index">
                    <div class="md-list-item" ng-click="ctrl.recordMultiSelect( record , $index , ctrl.chosenrecordlist , $event )" flex>
                        <div layout="row">
                            <md-checkbox aria-label="{{ record[ ctrl.namefield ] }}" ng-true-value="true" ng-model="record.selected" ng-click="ctrl.recordMultiSelect( record , $index , ctrl.chosenrecordlist , $event )"></md-checkbox>
                            <div class="md-list-item-text" flex>
                                <h5>{{ record[ ctrl.namefield ] }}</h5>
                                <span>{{ record[ ctrl.idfield ] }}</span>
                            </div>
                        </div>
                    </div>

                    <md-button class="md-icon-button md-primary" aria-label="Remove {{ record[ ctrl.namefield ] }}" ng-click="ctrl.removeSingleChosenRecord( record )">
                        <md-tooltip md-direction="left">Remove {{ record[ ctrl.namefield ] }}</md-tooltip>

                        <md-icon md-svg-icon="img/icons/ic_remove_circle_outline_black_36px.svg"></md-icon>
                    </md-button>
                </md-list-item>
            </md-list>
        </md-content>
    </md-card>
</div>
