<div id="mtTableContainer" class="table-responsive">
    <table class="table table-striped table-bordered table-hover text-center">
        <thead>
        <tr>
            <th class="text-center">
                <strong><span class="glyphicon glyphicon-refresh rotateMe" ng-if="ctrl.loadingflag == 1"></span></strong>
            </th>
            <th class="text-center">Proxy Name</th>
            <th class="text-center">Provider Name</th>
            <th class="text-center">IPs</th>
            <th class="text-center">Esps</th>
            <th class="text-center">Isps</th>
            <th class="text-center">Notes</th>
            <th class="text-center">
                <strong><span class="glyphicon glyphicon-refresh rotateMe" ng-if="ctrl.loadingflag == 1"></span></strong>
            </th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="record in ctrl.records track by $index" ng-class="{ rowDisabled : record.status == 0 }">
            <td><edit-button editurl="'/proxy/edit/'" recordid="record.id"></edit-button></td>
            <td>{{ record.name }}</td>
            <td>{{ record.provider_name }}</td>
            <td>{{ record.ip_addresses }}</td>
            <td>{{ record.esp_names }}</td>
            <td>{{ record.isp_names }}</td>
            <td>{{ record.notes }}</td>
            <td>
                <span ng-if="record.status == 1" class="btn btn-danger" ng-click="ctrl.toggle({recordId : record.id, direction : 0})">Deactivate</span>
                <span ng-if="record.status == 0" class="btn btn-success" ng-click="ctrl.toggle({recordId : record.id, direction : 1})">Activate</span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
